@import '../../shared_styles/layout.scss';

.Wrapper {
    width: 1200px;
    @include flex(row, 80px);
    margin: 80px auto;

    &__Left {
        width: 70%;
    }

    &__Right {
        width: 352px;
    }
}