@import '../../shared_styles/typography.scss';
@import '../../shared_styles/layout.scss';

.HoldingsHeader {
    padding: 40px 24px 40px 24px;
    border-bottom: 1px solid var(--static-border-primary);
}

.HoldingsDetails {
    @include flex(row, 0);
}

.HoldingsForm {
    padding: 24px;
    @include flex(column, 24px);
    border-bottom: 1px solid var(--static-border-primary);

    h4 {
        @include strong-m;
        margin: 0 0 6px 0;
    }

    p {
        @include strong-s;
        color: var(--content-muted);
        margin: 0 0 24px 0;
    }

    .UniSelector {
        margin-bottom: 12px;
    }

    .ButtonGroup {
        margin-top: 12px;
    }
}