@import '../../shared_styles/layout.scss';
@import '../../shared_styles/typography.scss';

.CashFlowHeader {
    padding: 40px 24px 40px 24px;
    border-bottom: 1px solid var(--static-border-primary);
}

.CashFlowDetails {
    width: 100%;
    @include flex(column, 56px);

    &__Left {
        width: 100%;
    }

    &__Right {
        width: 100%;
        @include flex(row, 28px);
    }

    margin-bottom: 80px;
}

.Briefing {
    // width: 100%;
    border-bottom: 1px solid var(--static-border-secondary);
    border-left: 0;
    border-right: 0;
    // padding: 32px 0 0 0;

    @include flex(column, 0px);

    &__Net {
        padding: 24px 24px 24px 24px;
        border-bottom: 1px solid var(--static-border-secondary);

        p {
            margin: 0;

            &:nth-child(1) {
                @include label-m;
                margin-bottom: 4px;
                color: var(--content-muted);
            }

            &:nth-child(2) {
                @include display-s;
                color: var(--content-secondary);
            }
        }
    }

    &__CashIn {
        @include flex(row, 0);
        justify-content: space-between;
        padding: 12px 24px;
        border-bottom: 1px solid var(--static-border-secondary);

        p {
            margin: 0;

            &:nth-child(1) {
                @include label-m;
                color: var(--content-muted);
            }

            &:nth-child(2) {
                @include strong-m;
                color: var(--content-success);
            }
        }
    }

    &__CashOut {
        @include flex(row, 0);
        justify-content: space-between;
        padding: 12px 24px;

        p {
            margin: 0;

            &:nth-child(1) {
                @include label-m;
                color: var(--content-muted);
            }

            &:nth-child(2) {
                @include strong-m;
                color: var(--content-danger);
            }
        }
    }
}