:root {
  /** Color Tokens: Static Surface **/
  --static-surface-primary: #151515;
  --static-surface-secondary: #1a1b1d;
  --static-surface-tertiary: #292b2e;
  --static-surface-brand: #153AFB;
  --static-surface-inverse: #fff;
  --static-surface-subtle: #D8DEFF;
  --static-surface-canvas: rgb(60, 60, 60);

  /** Color Tokens: Static Border **/
  --static-border-primary: #2e2929;
  --static-border-secondary: #242020;

  /** Color Tokens: Content **/
  --content-primary: #fff;
  --content-secondary: #DDDDDD;
  --content-muted: #808080;
  --content-brand: #EFCB11;
  --content-on-inverse: #151515;
  --content-on-neutral: #DDDDDD;
  --content-on-brand: #151515;
  --content-danger: #f96b77;
  --content-warning: #d3a72c;
  --content-success: #05c1a8;
  --content-info: #9faff9;
  --content-disabled: #9A9EAA;

  /** Color Tokens: Interactive **/
  --int-surface-primary-default: #222325;

  --int-surface-brand-primary-default: #EFCB11;
  --int-surface-brand-primary-hover: #fed714;
  --int-surface-brand-primary-active: #d6b50f;

  --int-surface-brand-secondary-default: #bbbbbb;
  --int-surface-brand-secondary-hover: #fff;
  --int-surface-brand-secondary-active: #aaa;


  /** Color Tokens: Interactive Border **/
  --int-border-default: #2e2929;
  --int-border-hover: #474141;
  --int-border-focus: rgb(115, 115, 115);
  --int-border-invalid: #f96b77;

  /** color tokens: support colors **/
  --int-support-info-primary-default: #3E62FE;
  --int-support-info-primary-hover: #85A2F9;
  --int-support-info-primary-active: #1A339E;
  --int-support-info-secondary-default: #002fff2b;
  --int-support-info-secondary-hover: #EEF4FF;
  --int-support-info-secondary-active: #B2C1FE;

  --int-support-success-primary-default: #00D5B5;
  --int-support-success-primary-hover: #84E1CC;
  --int-support-success-primary-active: #04AF99;
  --int-support-success-secondary-default: #00D5B52b;
  --int-support-success-secondary-hover: #F1FDFA;
  --int-support-success-secondary-active: #B0F2E9;

  --int-support-warning-primary-default: #FFCE45;
  --int-support-warning-primary-hover: #FFDD80;
  --int-support-warning-primary-active: #D0A93F;
  --int-support-warning-secondary-default: #ffcd452b;
  --int-support-warning-secondary-hover: #FFF9EE;
  --int-support-warning-secondary-active: #FFE28F;

  --int-support-danger-primary-default: #F3536B;
  --int-support-danger-primary-hover: #F3637A;
  --int-support-danger-primary-active: #C32E52;
  --int-support-danger-secondary-default: #F3536B3b;
  --int-support-danger-secondary-hover: #f3536b4b;
  --int-support-danger-secondary-active: #FFC6D0;

  --overlay-gradient-type1-0: rgba(21, 21, 21, 0.8);
  --overlay-gradient-type1-100: rgba(21, 21, 21, 1);
}