@import '../../shared_styles/typography.scss';
@import '../../shared_styles/layout.scss';

.ActionCard {
    // background-color: var(--static-surface-secondary);
    border: 1px solid var(--static-border-primary);
    padding: 24px;
    border-radius: 12px;
    @include flex(column, 16px);

    h1,
    h2,
    h3,
    h4 {
        @include strong-m;
        color: var(--content-primary);
        margin: 0;
    }

    p {
        @include label-s;
        color: var(--content-muted);
        margin: 0;
    }
}