@import '../../shared_styles/typography.scss';
@import '../../shared_styles/layout.scss';

nav {
    width: 95%;
    background-color: var(--static-surface-secondary-transparent);
    @include flex(row, 32px);
    padding: 12px 32px;
    box-sizing: border-box;
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100px;
    backdrop-filter: blur(20px);

    & li {
        list-style: none;
        padding: 0;
        margin: 0;
        @include label-s;
        cursor: pointer;
        color: var(--content-muted);

        &:hover {
            color: var(--content-primary);
        }
    }
}

.Navbar {
    &__Selected {
        color: var(--content-brand);
    }
}