@import '../../shared_styles/typography.scss';
@import '../../shared_styles/layout.scss';

nav {
    width: 100%;
    border-bottom: 1px solid var(--static-border-primary);
    background-color: var(--static-surface-secondary);
    @include flex(row, 32px);
    padding: 12px 32px;
    box-sizing: border-box;
    position: fixed;
    top: 0;

    & li {
        list-style: none;
        padding: 0;
        margin: 0;
        @include label-s;
        cursor: pointer;
        color: var(--content-muted);

        &:hover {
            color: var(--content-primary);
        }
    }
}

.Navbar {
    &__Selected {
        color: var(--content-brand);
    }
}