@import '../../shared_styles/typography.scss';

button {
    border-radius: 8px;
    border: 0;
    padding: 10px 16px;
    @include label-s;
    line-height: 1.3;
    cursor: pointer;
}

.Button {
    &_primary {
        background-color: var(--int-surface-brand-primary-default);
        color: var(--content-on-brand);

        &:hover {
            background-color: var(--int-surface-brand-primary-hover);
        }

        &:active {
            background-color: var(--int-surface-brand-primary-active);
        }
    }
}