@import '../../../shared_styles/typography.scss';
@import '../../../shared_styles/layout.scss';

.CashFlows {
    @include flex(column, 56px);
}

.CashFlow {

    &__Empty {
        border: 1px dashed var(--static-border-primary);
        border-radius: 12px;
        text-align: center;
        height: 300px;
        @include flex(column, 4px);
        justify-content: center;
        background-color: var(--static-surface-secondary);

        h1 {
            @include strong-l;
            color: var(--content-muted);
            margin: 0;
        }

        p {
            @include label-xs;
            color: var(--content-muted);
            margin: 0;
            opacity: 0.5;
        }
    }

    &__PerYear {

        &Info {
            @include flex(row, 0px);
            margin-bottom: 0;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            border: 1px solid var(--static-border-primary);
            border-bottom: 0;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;

            &_Year {
                @include strong-xl;
                color: var(--content-secondary);
                margin: 0;
            }

            &_TotalAmount {
                @include label-xs;
                color: var(--content-muted);
                margin: 0;
            }
        }
    }

    &__Record {
        border: 1px solid var(--static-border-primary);
        overflow: hidden;
        padding: 0;
        margin: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        li {
            list-style: none;
            @include flex('row', 0);


            div {
                padding: 8px 16px;
                width: 50%;
                border-right: 1px dotted var(--static-border-secondary);
            }

            .cell_date {
                width: 12%;
                flex-shrink: 0;
            }

            .cell_flow {
                width: 10%;
                flex-shrink: 0;
            }

            .cell_amount {
                width: 20%;
                text-align: right;
            }
        }

        &_Title {
            border-bottom: 1px solid var(--static-border-primary);
            color: var(--content-muted);
            @include label-s;
            background-color: var(--static-surface-secondary);

        }

        &_Entry {
            border-bottom: 1px dotted var(--static-border-secondary);
            color: var(--content-secondary);
            @include body-s;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: var(--static-surface-secondary);
            }

            .cashin {
                color: var(--content-success);
                @include annote-s;
            }

            .cashout {
                color: var(--content-danger);
                @include annote-s;
            }
        }
    }
}