@import "../../shared_styles/typography.scss";
@import "../../shared_styles/layout.scss";

.UniSelect {
    @include flex(row, 0);
    border: 1px solid var(--int-border-default);
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    .selected {
        color: var(--content-primary);
        background-color: var(--int-surface-brand-secondary-default);
    }

    .selected_positive {
        color: var(--content-on-inverse);
        background-color: var(--content-success);

        &:hover {
            background-color: var(--content-success);
        }
    }

    .selected_negative {
        background-color: var(--content-danger);

        &:hover {
            background-color: var(--content-danger);
        }
    }

    .selected_neutral {
        background-color: var(--content-info);

        &:hover {
            background-color: var(--content-info);
        }
    }

    li {
        @include strong-s;
        color: var(--content-primary);
        line-height: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 16px 12px;
        width: 100%;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: var(--static-surface-tertiary);
        }
    }
}

.UniSelect__Small {
    li {
        padding: 14px 12px;
        @include strong-xs;
        line-height: 1;
    }
}